body {
  font-family: "Circular";
}
nav ul > li {
  list-style-type: none;
}
nav a {
  text-decoration: none;
  vertical-align: middle;
}

nav i {
  margin-right: 0.5rem;
  vertical-align: middle;
  font-size: 1.4rem;
}
