html {
  overflow-y: hidden;
  overflow-x: hidden;
}

body {
  font-family: "Circular";
}

.bg-black2 {
  background-color: rgb(19, 19, 19);
}

i {
  cursor: pointer;
}

.custom-padding {
  padding-bottom: 8rem;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  background-color: transparent;
  width: 0.7rem;
  height: 0.2rem;
}

::-webkit-scrollbar-thumb {
  background: rgb(97, 97, 97);
}

#side-scroll {
  overflow-y: scroll;
  max-height: 76vh;
}

#side-scroll ul > li {
  list-style-type: none;
}
#side-scroll a,
a {
  text-decoration: none;
  color: white;
}

/* NAVBAR SINISTRA */

nav ul > li {
  list-style-type: none;
}
nav a {
  text-decoration: none;
  vertical-align: middle;
}

nav i {
  margin-right: 0.5rem;
  vertical-align: middle;
  font-size: 1.4rem;
}
.nav-link {
  font-size: 13px;
}

/* PARTE CENTRALE */

#main-scroll {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 92vh;
  background: linear-gradient(
    0deg,
    hsl(0deg 0% 7% / 42%) 0%,
    hsl(210deg 11% 15% / 69%) 85%
  );
}
h3 {
  color: white;
  font-size: 1.2em;
}
#artist {
  font-size: 1em;
  color: white;
}
#title {
  font-size: 1em;
  color: white;
}
#backgroundImage2 {
  position: relative;
  z-index: 1;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
  color: #fff;
}
#backgroundImage2 p {
  color: #fff;
}
#backgroundImage2 h1 {
  font-size: 6rem;
  color: #fff;
}
.barraUtente {
  z-index: 2;
  position: fixed;
  width: 57%;
  .dropdown {
    top: 0 !important;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: background-color 300ms;
  }
}
#backgroundImage {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 30%;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

#backgroundRelative {
  position: relative;
}
.MainContent {
  z-index: 1;
  background: linear-gradient(to bottom, #333333, #0c0c0c);
}
.cuoreRelative {
  position: relative;
}
.cuoreAbsolute {
  position: absolute;
  bottom: 0;
  right: 0;
}
.playFollowMobile {
  display: none;
}

.TrackHover:hover {
  background-color: #262626;
}

.indiceTracks,
.playHoverTrack {
  transition: opacity 0.3s ease;
}

.playHoverTrack {
  opacity: 0;
  position: absolute;
  left: 10px;
}

.TrackHover:hover .indiceTracks {
  opacity: 0;
}

.TrackHover:hover .playHoverTrack {
  opacity: 1;
}

/* PARTE DESTRA */

.sideIconsRx {
  color: #585858;
}

.siderbarRx {
  height: 100vh;
  background-color: rgb(19, 19, 19);
}
.custom-right-side {
  padding: 0.5em !important;
  font-size: 0.8em;
}
.siderbarRx .bg-black {
  height: 100%;
}

.imgFriends1 {
  border-radius: 20px;
}

/* PLAYERBAR */

#player-bar {
  height: 90px;
  background-color: rgb(19, 19, 19);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 55%,
    rgba(49, 36, 36, 0) 100%
  );
}

@media screen and (min-width: 768px) {
  #player-bar {
    background-color: rgb(19, 19, 19);
  }
}
.progress {
  height: 3px;

  .progress-bar {
    color: white;
  }
}

@media screen and (max-width: 766px) {
  .playFollowMobile {
    display: block;
  }
  .cuoreAbsolute {
    right: 20%;
  }
  .artistaVerificato,
  .ascoltiMensili {
    display: none;
  }
  .playFollow {
    display: none !important;
  }
  .popolari {
    order: 2;
  }
}
@media screen and (max-width: 990px) {
  .barraUtente {
    width: 80%;
  }
}

#prev-track-btn,
#play-pause-btn,
#next-track-btn {
  background-color: transparent;
  border: none;
}
.bi.bi-play-fill {
  background-color: #1ed760;
  border-radius: 50%;
  padding: 10px;
}
.cuoreAbsolute.rounded-circle {
  background-color: #1ed760;
}
